@keyframes up {
  0% {
      transform: translate(0vh,0vh) scale(1);
      opacity: 1;
    }
   
  
    100% {
      transform: translate(0vh,-100vh) rotate(30deg) scale(1.5);
      opacity: 0.8;

    }
}

@keyframes up2 {
  0% {
      transform: translate(0vh,0vh) scale(1);
      opacity: 1;
    }
   
  
    100% {
      transform: translate(-10vh,-100vh) rotate(-30deg) scale(1.5);
      opacity: 0.8;

    }
}

@keyframes up3 {
  0% {
      transform: translate(0vh,0vh) scale(1);
      opacity: 1;
    }
   
  
    100% {
      transform: translate(20vh,-100vh) rotate(60deg) scale(1.5);
      opacity: 0.8;

    }
}
body{
  background-image: url("images/audi.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.class{
    
  position: absolute;
  bottom: 12%;
  left: 5%;
  animation-name: up;
 animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  
  margin-left: 0;
  margin-top: 5px;

}
.class2{
  position: absolute;
  bottom: 12%;
  left: 5%;
  animation-name: up2;
animation-delay: 0s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  
  margin-left: 0;
  margin-top: 8px;
}
.class3{
  position: absolute;
  bottom: 12%;
  left: 5%;
  animation-name: up3;
animation-delay: 0s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  
  margin-left: 0;
  margin-top: 5px;
}
.emoji{
  padding: 5px;
}



@media only screen and (max-width:1200px) {
.class{
  position: absolute;
  left: 10%;
}
.class2{
  position: absolute;
  left: 10%;
}
.class3{
  position: absolute;
  left: 10%;
}
.cont{
  position: absolute;
left: 5%;
}

body{
  background-image: url('images/audi.png');
width: 100vw;
 height: 100vh;
}
}